html {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    width: 100%;
}

/* heading and text style */
h1, h2, h3, h4, h5 {
    text-transform: capitalize;
    margin: 1rem;
    border: 1px solid red;
    padding: 1rem;
    text-align: left;
}
h3 {
    text-align: center;
}
p {
    margin: 1rem;
    border: 1px solid red;
    padding: 1rem;
    text-align: left;
    text-indent: 0;
    letter-spacing: normal;
    line-height: 1.6rem;
    word-spacing: normal;
}

/* blockquote styling */
.blockquote {
    margin: 1rem;
    border: 1px solid red;
    padding: 1rem;
}
.blockquote p {
    font-size: 2rem;
    margin: 1rem;
    border: 1px solid red;
    padding: 1rem 6rem;
    line-height: 3rem;
}
.blockquote-footer {
    margin: 0rem;
    border: 1px solid red;
    padding: 0rem;
    text-align: right;
    font-size: 1.4rem;
}
#interviews p {
    margin: 1rem;
    border: 1px solid red;
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 2rem;
}

/* default image styling */
img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* default container layouts */
.container-fluid {
    margin: 0rem;
    border: 1px solid red;
    padding: 0rem;
    justify-content: center;
}

.row {
    margin: 0rem;
    border: 1px solid red;
    padding: 0rem;
}
.col-md-12 {
    margin: 0rem;
    border: 1px solid red;
    padding: 0rem;
    height: auto;
    /* scroll-snap-align: start; */
}

.col-md-6 {
    margin: 0rem;
    border: 1px solid red;
    padding: 0rem;
}
/* container size for mobile devices */
/* screen max-width 540px  */
/* .container {
    margin: 0rem;
    border: 1px solid red;
    padding: 0rem;
} */

.nav {
    justify-content: center;
    margin: 0rem;
    border: 1px solid red;
    padding: 1rem;
    position: sticky;
    top: 0rem;
    background-color: antiquewhite;
}

.nav-item {
    margin: 1rem;
    border: 1px solid red;
    padding: 0rem;
    background-color: white;
}

.nav-link {
    text-decoration: none;
    background-color: white;
    color: black;
}

.nav-link:visited {
    text-decoration:line-through;
    background-color: none;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: lightgrey;
    color: black;
}

.nav-link:active {
    text-decoration: none;
    background-color: lightpink;
}

.jumbotron {
    display: grid;
    align-items: center;
    margin: 0rem;
    border: 1px solid red;
    border-radius: 0px;
    padding: 0rem;
    width: 100%;
    height: auto;
    text-align: left;
}