/* html document formatting */
* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

body {
  background: url(/images/background-image.jpg);
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  overflow-y: scroll;
  margin: 0;
}

/* default text style */
h1, h2, h3, 
h4, h5, p {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: auto;
  padding: auto;
}
h1 {
  font-size: 2rem;
  font-weight: bolder;
  order: 0;
  margin: 1rem;
  border: 1px solid red;
  padding: 1rem;
}
h2 {
  font-size: 1.75rem;
  font-weight: bold;
  order: 1;
  margin: 1rem;
  border: 1px solid red;
  padding: 1rem;
}
h3 {
  font-size: 1.5rem;
  order: 2;
  margin: 1rem;
  border: 1px solid red;
  padding: 1rem;
}
h4 {
  font-size: 1.25rem;
  order: 3;
  margin: 1rem;
  border: 1px solid red;
  padding: 1rem;
}
h5 {
  font-size: 1rem;
  order: 4;
  margin: 1rem;
  border: 1px solid red;
  padding: 1rem;
}
p {
  font-size: 1rem;
  order: 5;
  margin: 0rem;
  border: 1px solid red;
  padding: .5rem;
}

/* header with nav bar section */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  flex: none;
  order: 0;
  border: 1px solid red;
  padding: .5rem 1rem;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  position: static;
  width: fit-content;
  height: auto;
  background-image: url(.png);
  border: 1px solid red;
  box-sizing: border-box;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

#spacer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: auto;
  height: auto;
  border: 1px solid red;
  box-sizing: border-box;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

nav.navbar {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: static;
  width:fit-content;
  border: 1px solid red;
  flex: none;
  order: 2;
  flex-grow: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: auto;
  height: auto;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0rem;
  padding: .5rem 1rem;
}

.nav-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: .5rem;
  
  margin: .5rem 1rem;
  border: 1px solid red;
  padding: .5rem 1rem;

  flex: none;
  order: 0;
  flex-grow: 1;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size:larger;
}

#skills {
  order: 1;
}

#work {
  order: 2;
}

#contact {
  order: 3;
}

/* Hero Section */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  position: static;
  width: 100%;
  height: auto;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.09) 100%);
  border: 1px solid #FF0000;
  box-sizing: border-box;
  backdrop-filter: blur(32px);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0rem;
}
.heroCard {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;

  position: static;
  width: 80vw;
  height: auto;
  left: calc(50% - 1000px/2);
  top: calc(50% - 650px/2);

  border: 1px solid #FF0000;
  box-sizing: border-box;
  border-radius: 2rem;

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0rem;
}
.img-frame {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  position: static;
  width: auto;
  height: auto;
  left: 2rem;
  top: 2rem;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 32px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 1rem;
}
.profile-photo {
  position: static;
  width: auto;
  height: auto;

  background: url(.png);
  border: 1px solid #FF0000;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1rem;
}
.content-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0rem;

  position: static;
  width: 40%;
  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 1rem;
}
.content-frame h3 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;

  position: static;
  width: auto;
  height: auto;
  left: 1rem;
  top: 1rem;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: .5rem 1rem;
}
.content-frame h1 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;
  
  position: static;
  width: auto;
  height: auto;
  left: 1rem;
  top: 4rem;
  
  font-size: 6rem;
  line-height: 95%;

  display: flex;
  align-items: normal;
  letter-spacing: 3px;

  /* black */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: .5rem 1rem;
}
.content-frame p {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: auto;
  height: auto;
  left: 16px;
  top: 427px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: .5rem 1rem;
}

button {
  cursor: pointer;
  margin: 1rem;
  border: 1px solid red;
  padding: 1rem;
  border-radius: .5rem;
  width:auto;
  height: auto;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  text-align: center;

  margin: 1rem;
  border: 1px solid;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  align-content: center;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 1rem;
  order: 4;
  align-items: center;
}

/* codepen button */
.btn {
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:1rem;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2rem;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  
  &:hover { text-decoration: none; }
}

.btn-4 {
  border: 2px solid;
  overflow: hidden;
  position: relative;
  span {
    z-index: 20;
  }
  
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.btn-4:hover {
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

/* UX Skills Section */
#mySkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 0rem;
  
  position: static;
  width: 100%;
  height: auto;
  
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  /* project-items */
  
  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */
  
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.section-title {
  display: flex;
  flex-direction: row;
  
  justify-content: stretch;
  margin: 1rem;
  border: 1px solid red;
  padding: 1rem;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 1px solid red;
  padding: 0rem;

  position: static;
  width: auto;
  height: auto;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.flexItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;

  position: static;
  margin: .5rem;
  border: 1px solid #FF3B30;
  width: 300px;
  height: auto;
  left: 2rem;
  top: 2rem;
  background: rgba(255, 255, 255, 0.3);
  /* project-items */

  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 2rem;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1rem;
}

.flexItem img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  position: static;
  width: auto;
  height: auto;
  left: 1rem;
  top: 1rem;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: .5rem 0rem;
}

.flexItem h3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;

  position: static;
  width:auto;
  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: .5rem 1rem;
}

.flexItem p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  position: static;
  width: auto;
  height: auto;
  left: 1rem;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: .5rem 1rem;
}

/* My Work Section */
#myWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  position: static;
  width: 100%;
  height: auto;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  /* project-items */
  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */

  /* Inside auto layout */
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 0rem;
}

.workgrid {
  display: grid; 
  grid-template-columns: 100%; 
  grid-template-rows: repeat(3, 1fr); 
  gap: 5% 0px; 
  grid-template-areas: 
    "project1"
    "project2"
    "project3"; 
  justify-content: stretch; 
  align-content: stretch; 
  justify-items: stretch; 
  align-items: stretch; 
  width: 90%; 
}

.project1 {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 0px 1%; 
  grid-template-areas: 
    "image1 image1 heading1"
    "image1 image1 paragraph1"
    "image1 image1 button1"; 
  grid-area: project1; 
}
.image1 { grid-area: image1; }
.heading1 { grid-area: heading1; }
.paragraph1 { grid-area: paragraph1; }
.button1 { grid-area: button1; }
.project2 {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 0px 1%; 
  grid-template-areas: 
    "heading2 image2 image2"
    "paragraph2 image2 image2"
    "button2 image2 image2"; 
  grid-area: project2; 
}
.image2 { grid-area: image2; }
.button2 { grid-area: button2; }
.heading2 { grid-area: heading2; }
.paragraph2 { grid-area: paragraph2; }
.project3 {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 0px 1%; 
  grid-template-areas: 
    "image3 image3 heading3"
    "image3 image3 paragraph3"
    "image3 image3 button3"; 
  grid-area: project3; 
}
.image3 { grid-area: image3; }
.button3 { grid-area: button3; }
.paragraph3 { grid-area: paragraph3; }
.heading3 { grid-area: heading3; }


/* CTA section with form */
#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;

  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  left: calc(50% - 1440px/2);
  top: 1931px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  /* project-items */

  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */

  /* Inside auto layout */
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: 0 auto;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}
#contact {
  background: #F9F9F9;
  padding: 1.5rem;
  margin: 1rem 2rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#contact h3 {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

/* footer section */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0;
  border: 1px solid red;
  padding: 0px;

  position: static;
  width: 100%;
  height: auto;
  left: calc(50% - 1440px/2);
  bottom: 0;

  background: linear-gradient(180deg, rgba(112, 173, 196, 0.3) 0%, rgba(112, 173, 196, 0) 100%);
/* project-items */

  backdrop-filter: blur(32px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

footer ul {
  border: 1px solid red;
  background-color: #C2C2C2;
  display: inline-block;
  flex-direction: flex-start;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: static;
  width: auto;
  height: auto;
  border: 1px solid #FF3B30;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1rem;
}

footer li {
  border: 1px solid red;
  background-color: #FFFFFF;
  color: black;
  display: inline-block;
  padding: .5rem 2rem;
  margin: 1rem;
}

/* mobile screens, or any screen with a max width of 480px */
@media only screen and (max-width:480) {
  .workGrid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr; 
      grid-template-columns: 1fr;
      grid-template-areas:
        "img"
        "h3"
        "p"
        "button"
      ;
    }
  }

/* desktop screens or any screen with a minimum width of 480px */
@media only screen and (min-width:480) {
    .workGrid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr; 
      grid-template-columns: 1fr;
      grid-template-areas:
        "img"
        "h3"
        "p"
        "button"
      ;
    }
  }